<link rel="stylesheet" href="/stylesheets/style-f1-final.css">
 
 <div class="general-container">
  <title>Logged Out</title>


  <h1>{{message}}</h1>
  <p>Thank you for visiting!<p> 
  <br> 
  <p>Keep up the hard work racing for your team!</p> 
  <p>You can win the FIA Formula One World Drivers' Championship!</p>
  <br>
<p>You have been logged out.</p>
  <a href="/auth/login-page" class="btn">Go back to Login</a>

</div>