
  <title>Logged Out</title>


  <h1>{{message}}</h1>
  <p>Thank you for visiting!  Keep on racing for your team! You can win the FIA Formula One World Drivers' Championship!</p>
  <br>
<p>You have been logged out.</p>
  <a href="/auth/login-page">Go back to Login</a>

