<link rel='stylesheet' href='/stylesheets/style-f1-final.css' />

<div class='general-container'>
  <h1 class='f1-title'>Signup</h1>
  <form action='/auth/register' method='post'>
    <div>
      <label for='email'>EMAIL:</label>
      <input type='email' id='email' name='email' required />
    </div>
    <br />
    <div>
      <label for='password'>PASSWORD:</label>
      <input type='password' id='password' name='password' required />
    </div>
    <br />
    <div>
      <label for='name'>FULL NAME:</label>
      <input type='text' id='name' name='name' required />
    </div>
    <br />
    <div>
      <label for='dob'>DATE OF BIRTH:</label>
      <input type='date' id='dob' name='dob' required />
    </div>
    <br />
    <div>
      <label for='teamRole'>TEAM ROLE:</label>
      <select id='teamRole' name='teamRole' required>
        <option value='Driver'>Driver</option>
        <option value='Engineer'>Engineer</option>
        <option value='Mechanic'>Mechanic</option>
      </select>
    </div>
    <br />
    <button type='submit' class='btn'>Register</button>
    {{#each errors}}
      <p style='color:red'>{{this}}</p>
    {{/each}}
  </form>
  <br>
  <br>
  {{! <p class="signup-link">Ya tienes una cuenta? <a href="auth/login-page">Inicia sesión aquí</a></p> }}
  <p class='signup-link'>¿Ya tienes una cuenta?</p>
  <a href='/auth/login-page' class='btn'>Inicia sesión aquí</a>
</div>